# Fail2Ban configuration file.

[DEFAULT]

# "ignoreip" can be an IP address, a CIDR mask or a DNS host
ignoreip = {{ fail2ban_ignoreips | join(' ') }}
bantime  = {{ fail2ban_bantime }}
maxretry = {{ fail2ban_maxretry }}
findtime = {{ fail2ban_findtime }}

# Destination email address used solely for the interpolations in
# jail.{conf,local} configuration files.
destemail = {{ fail2ban_destemail }}

# use iptables to ban ip
banaction = iptables-multiport

usedns = {{ 'yes' if fail2ban_usedns else 'no' }}

#
# JAILS
#

[sshd]

enabled  = {{ 'true' if fail2ban_jail_ssh_enabled else 'false' }}


[sshd-ddos]

enabled  = {{ 'true' if fail2ban_jail_sshddos_enabled else 'false' }}
